@import './constants.scss';

.navbar-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $shark-orange;
  position: fixed;
  top: 0;
  margin-bottom: 10px;
  z-index: 1;

  .title-container {
    color: white;

    margin-right: 40px;
  }

}
