@import './constants.scss';

// CSS Resets

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video, a {
 margin:0;
 padding:0;
 border:0;
 outline:0;
 font-size:100%;
 vertical-align:baseline;
 background:transparent;
 line-height: none;
 text-decoration: none;
 color: inherit;

}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

html {
  scroll-behavior: smooth;
}

.parent, #root, html, body {
  width: 100%;
  height: 100%;
  font-family: $primary-font;
  font-size: 24px;
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
}

.parent {
  display: flex;
  // flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.inner-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  background: linear-gradient(270deg, #05FEF6, #05FEB3, #7EFED4, #7EB2FE);
  background-size: 1200% 1200%;
  -webkit-animation: Rainbow 20s ease infinite;
  -moz-animation: Rainbow 20s ease infinite;
  animation: Rainbow 20s ease infinite;
}

@-webkit-keyframes Rainbow {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes Rainbow {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes Rainbow {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

h1, p {
  text-align: center;
}

p {
  margin: 10px;
}

.orange {
  color: $shark-orange;
}

.blue {
  color: $shark-blue;
}

h1 { 
  font-size: 4.0vw;
  margin: 10px;
  color: $shark-red;
  font-weight: bold;
  font-family: $title-font;
}

h3 {
  color: $shark-blue;
  font-size: 24px;
  font-weight: bold;
  font-family: $title-font;
  margin: 10px;
}

i {
  font-size: 30px;
  color: $shark-orange;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 24px;
  }

  h3 {
    font-size: 18px;
  }

  p {
    font-size: 18px;
  }
}


